<div>
hello world



  <form [formGroup] = "postForm" (ngSubmit)="mySubmit()">

    <div>UserID
      <input type="text" formControlName="userId">
    </div>

    <div>ID
      <input type="text" formControlName="id">
    </div>

    <div>Title
      <input type="text" formControlName="title">
    </div>
    <div>Body
      <textarea cols="30" rows="4" formControlName="body"></textarea>
    </div>

    <input  type="submit">


  </form>
</div>
