.paid{
  background-color: green;
  width: 70px;
  height: 25px;
  padding: 10px;
}

.unpaid{
  background-color: darkred;
  width: 70px;
  height: 25px;
  padding: 10px;
}

.paidTip{
  margin: 10px;
  border-bottom:greenyellow;
  border-bottom-style: dashed;
}
