<!--The content below is only a placeholder and can be replaced.-->
<div>
  <span class="paidTip" [ngClass]="{
  'paid': paid,
  'unpaid':!paid
  }"
        [style.backgroundColor]="givenTops ? 'pink': '' "
        [ngStyle]="{
        'backgroundColor':givenTops ? 'pink' : '',
        'borderBottomColor' : givenTops ? 'green':''
        }"
  >Paid</span>
  <button (click)="payBill()">pay the  bill</button>
  <button (click)="payTip()">pay tip</button>
  <div>
    send http request
    <button (click)="httpSend()">get order</button>
  </div>



  <br><br><br><br><br><br><br><br>
<div>

  <app-posts>

  </app-posts>

</div>

</div>
